


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: rgb(187, 76, 76);
}

.App-body {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}


.App-sidebar {
  width: 30%;
  
}
.App-container label {
  display: flex;
  flex-direction:justify;
  margin-bottom: 30px;
}

.App-main {
  text-align:right;
  color: #0800ff; /* Replace with your desired text color */
  width: 60%;
}

.repo-item {
  background-color: #8989c7;
  border: 1px solid #219fed;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: left;
}

.repo-description {
  color: #121314;
}

.repo-url {
  font-style: italic;
}

.repo-branches {
  margin-top: 10px;
}
